/* LAYOUT //////////////////////////// */
#site-header {
  height: 7.5rem;
  border-bottom-width: 0.3rem;
  position: relative;
}

#site-header > * {
  position: absolute;
}

/* CONFIGURATION 1 ////////////////////////// */
#site-header .area1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  align-items: flex-start;
  gap: 0.7rem;
  padding-left: 1rem;
}

#site-header .area1 h1 {
  font-size: 2rem;
}

#site-header .area1 p {
  display: none;
}

#site-header .area2, #site-header .area3 {
  display: none;
}

#site-header .area4 {
  right: 0%;
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#site-header .area4 .menu-icon {
  width: 2rem;
}

/* CONFIGURATION 2 //////////////////////////////////// */
@media only screen and (min-width: 380px) {
  #site-header .area1 p {
    display: block;
    font-style: italic;
    font-size: 0.9rem;
  }
}

/* CONFIGURATION 3 /////////////////////// */
@media only screen and (min-width: 892px) {

  #site-header .area1 {
    width: 100%;
    height: initial;
    top: 12%;
    align-items: center;
    gap: 0.5rem;
  }
  
  #site-header .area2 {
    display: block;
    bottom: 0%;
    width: 100%;
  }
  
  #site-header .area2 ul {
    gap: 3rem;
    display: flex;
    justify-content: space-evenly;
    padding: 0 5rem;
  }

  #site-header .area3 {
    display: flex;
    font-size: 0.85rem;
    gap: 1rem;
    right: 1.5rem;
    top: 10%;
  }

  #site-header .area3 form {
    padding-right: 0.5rem;
  }
  
  #site-header .area3 .search-icon {
    width: 1.1rem;
  }
  
  #site-header .area3 input[type="search"] {
    transform: scale(0);
    border: none;
    transform-origin: 100% 50%;
    transition: transform 0.5s ease-out;
    background-color: transparent;
    margin-right: 0.5rem;
  }
  
  #site-header .area3 input[type="search"]:focus {
    transform: scale(1);
    border: 0.1rem solid black;
    border-radius: 0.2rem;
  }
  
  #site-header .area3 input {
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  #site-header .area3 form button[type="submit"] {
    position: absolute;
  }
  
  #site-header .area3 .checkout-icon {
    width: 0.9rem;
  }
  
  #site-header .area3 .share-icon {
    width: 1rem;
  }
  
  #site-header .area3 .user-icon {
    width: 1.1rem;
  }

  #site-header .area4 {
    display: none;
  }
}

/* CONFIGURATION 4 /////////////////////// */
@media only screen and (min-width: 1250px) {

  #site-header .area1 {
    top: 0%;
    width: 35%;
    height: 100%;
    align-items: flex-start;
    gap: 0.7rem;
    padding-left: 1rem;
  }
  
  #site-header .area2 {
    display: block;
    width: initial;
    right: 3%;
    bottom: 0%;
  }
  
  #site-header .area2 ul {
    padding: 0;
  }
}