/* GENERAL ///////////////////////////////// */
:root {
  --color1: black;
  --color1-1: hsla(0, 0%, 0%, 0.9);
  --color1-2: hsl(0, 0%, 5%);
  --color2: white;
  --color2-1: hsl(0, 0%, 70%);
  --color3: hsl(0, 100%, 70%);
  --color4: hsl(230, 100%, 80%);
  background-color: var(--color1);
  color: var(--color2);
}

/* dialog {
  background-color: var(--color1);
  color: var(--color2);
} */

svg path {
  fill: currentColor;
}

/* SITE HEADER //////////////////////////////////// */
#site-header {
  border-color: var(--color2);
}

/* SITE FOOTER //////////////////////////////// */
#site-footer-areas > * {
  border-color: var(--color2-1);
  color: var(--color2-1);
}

#site-footer-contact h1 {
  color: var(--color2);
}

/* CHAT ASIDE /////////////////////////////////// */
#chat-aside {
  border-color: var(--color2);
  background-color: var(--color1-2);
}

/* MODALS //////////////////////////////////////// */
.covering-modal .background {
  background-color: var(--color1-1);
}

.covering-modal section {
  background-color: var(--color1);
  color: var(--color2);
}

/* CHAT MODAL */
#chat-modal {
  border-color: var(--color2);
}
#chat-modal #chat-area {
  background-image: linear-gradient(
    45deg,
    var(--color1),
    var(--color3)
  );
}

#chat-modal form {
  background-color: var(--color1);
}
