a {

}

a path {

}

@media (hover: hover) {
  a:hover, a:focus {
    background-color: var(--color3);
  }
}

a:hover path, a:focus path {

}

button {
  border: 1px solid var(--color1);
}

button path {

}

button:hover, button:focus {
 background-color: var(--color3);
}

button:hover path, button:focus path {

}

label {

}

label path {

}

label:hover, label:focus {
 background-color: var(--color3);
}

label:hover path, label:focus path {

}

input {

}

input[type="text"] {

}

input[type="email"] {

}

input[type="search"] {
}

input:hover, input:focus {

}

input:hover + svg path, input:focus + svg path {

}