.scroll-snap-container-extension {
  position: absolute;
  /* height: 30vh;
  border: 1px solid green;
  width: 100%;
  pointer-events: none; */
}

.vp {
  width: 100vw;
  height: 100vh;
  border: 4px solid red;
}