/* LAYOUT //////////////////////////// */
#site-header {
  height: 5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.3rem;
  position: relative;
}

#site-header > * {
  position: absolute;
}

/* CONFIGURATION 1 ////////////////////////// */
#site-header .area1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  align-items: flex-start;
  gap: 0.7rem;
  padding-left: 1rem;
}

#site-header .area1 h1 {
  font-size: 2rem;
}

#site-header .area1 svg {
  width: 2.2rem;
}

#site-header .area2 {
  display: none;
}

#site-header .area4 {
  right: 0%;
  height: 100%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#site-header .area4 .menu-icon {
  width: 2rem;
}

/* CONFIGURATION 2 /////////////////////// */
@media only screen and (min-width: 850px) {

  #site-header {
    height: 8rem;
  }

  #site-header .area1 {
    width: 100%;
    height: initial;
    top: 12%;
    align-items: center;
    gap: 0.5rem;
  }
  
  #site-header .area2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    bottom: 10%;
    width: 100%;
  }
  
  #site-header .area2 ul {
    gap: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #site-header .log-in-modal-opener {
    border-radius: 0.2rem;
    padding: 0.5rem;
  }

  #site-header .log-in-modal-opener svg {
    width: 1.3rem;
  }

  #site-header .area4 {
    display: none;
  }
}

/* CONFIGURATION 3 /////////////////////// */
@media only screen and (min-width: 1200px) {

  #site-header {
    height: 5rem;
  }

  #site-header .area1 {
    top: 0%;
    width: 35%;
    height: 100%;
    align-items: flex-start;
    gap: 0.7rem;
    padding-left: 1rem;
  }
  
  #site-header .area2 {
    width: initial;
    right: 3%;
    bottom: 20%;
  }
  
  #site-header .area2 ul {
    padding: 0;
  }
}