.hidden-submit {
  visibility: hidden;
  position: absolute;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-gap {
  gap: 0.3rem;
}

.icon-gap2 {
  gap: 0.65rem;
}

.icon-gap3 {
  gap: 1rem;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

@media only screen and (orientation: landscape) {
  .portrait {
    display: none;
  }
}

@media only screen and (orientation: portrait) {
  .landscape {
    display: none;
  }
}