@media only screen and (orientation: landscape) {
  /* PAGE HEADER ////////////////////////// */
  main header {
    text-align: left;
    align-items: flex-start !important;
  }
  
  h2 {
    padding-left: 5vw;
    font-size: 3.5rem;
  }
  
  main header p {
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    font-size: 1.5rem;
    max-width: 40rem;
    padding: 0;
    padding-left: 5vw;
    line-height: 1.3;
  }
  
  main header svg {
    position: relative;
    bottom: -12vh;
    width: 4rem;
    padding: 1rem;
    align-self: center;
  }

  /* SECTION 1 //////////////////////////// */
  main h3, main section div.snap-point {
    border-width: 0.1rem;
    border-style: solid;
  }

  main .section1 h3, main .section2 div.snap-point {
    height: 80% !important;
    width: 45% !important;
    top: 10% !important;
    left: 5%;
  }

  main .section1 div.snap-point, main .section2 h3 {
    border-left: none;
    top: 10% !important;
    height: 80%;
    left: 50%;
    width: 45%;
    row-gap: 10vh;
  }

  main section p {
    text-align: left;
  }

  /* SECTION 2 ///////////////////////////// */
  main .section2 h3 .background {
    filter: invert(20%) brightness(0.5);
  }
}

/* CONFIGURATION 2 //////////////////////////////////////////////////// */
@media only screen and (orientation: landscape) and (min-width: 1920px) {
  main section p {
    max-width: 28vw;
  }
}