<!-- DESKTOP SHOP //////////////////////////////////////////// -->
<section>
  <h2>Shop</h2>

  <!-- MENU /////////////////// -->
  <div>
  
    <!-- FILTER SECTION //////// -->
    <section>
      <h3>Filter</h3>
      <button type="button">Clear</button>
      <ul>
  
        <!-- CHECKBOX -->
        <li>
          <details>
            <summary></summary>
            <div>
              <label for="" ></label>
              <input id="" type="checkbox" name="" />
            </div>
            <div>
              <label for="" ></label>
              <input id="" type="checkbox" name="" />
            </div>
            <div>
              <label for="" ></label>
              <input id="" type="checkbox" name="" />
            </div>
          </details>
        </li>
  
        <!-- RADIO -->
        <li>
          <details>
            <summary></summary>
            <div>
              <label for="" ></label>
              <input id="" type="radio" name="" value="" />
            </div>
            <div>
              <label for="" ></label>
              <input id="" type="radio" name="" value="" />
            </div>
            <div>
              <label for="" ></label>
              <input id="" type="radio" name="" value="" />
            </div>
          </details>
        </li>
  
        <!-- RANGE -->
        <li>
          <details>
            <summary></summary>
            <label for=""></label>
            <input id="" type="range" name="" min="" max="" step="" />
            <output>result</output>
          </details>
        </li>
  
      </ul>
    </section>
  
    <!-- SORT BY -->
    <select name="sort">
      <option value="">
        Sort by
        <img src="./assets/icons/user-actions/sort.svg" alt="Sort products." />
      </option>
      <option value=""></option>
    </select>

  </div>
  
  <ol>
    <li>
      <section>
        <h3>Product name</h3>
        <p>
          <s>Original Price</s>
          <span>Sale Price</span>
        </p>
        <ul>
          <li>Product tag (best-seller, on sale, etc)</li>
        </ul>
        <img src="" alt="" />
        <button type="button">Add to cart</button>
      </section>
    </li>
  </ol>
</section>

<!-- MOBILE SHOP ////////////////////////////////////////////////// -->
<section>
  <h2>Shop</h2>

  <!-- MENU /////////////////// -->
  <div>

    <button type="button">Filter</button>

    <!-- SORT BY -->
    <select name="sort">
      <option value="">
        Sort by
        <img src="./assets/icons/user-actions/sort.svg" alt="Sort products." />
      </option>
      <option value=""></option>
    </select>
  
    <!-- FILTER MODAL //////// -->
    <dialog>
      <section>
        <h3>Filter by</h3>
        <button type="button">
          <img src="./assets/icons/forms/check.svg" alt="Close modal." />
        </button>
        <ul>
    
          <!-- CHECKBOX -->
          <li>
            <details open>
              <summary></summary>
              <div>
                <label for="" ></label>
                <input id="" type="checkbox" name="" />
              </div>
              <div>
                <label for="" ></label>
                <input id="" type="checkbox" name="" />
              </div>
              <div>
                <label for="" ></label>
                <input id="" type="checkbox" name="" />
              </div>
            </details>
          </li>
    
          <!-- RADIO -->
          <li>
            <details>
              <summary></summary>
              <div>
                <label for="" ></label>
                <input id="" type="radio" name="" value="" />
              </div>
              <div>
                <label for="" ></label>
                <input id="" type="radio" name="" value="" />
              </div>
              <div>
                <label for="" ></label>
                <input id="" type="radio" name="" value="" />
              </div>
            </details>
          </li>
    
          <!-- RANGE -->
          <li>
            <details>
              <summary></summary>
              <label for=""></label>
              <input id="" type="range" name="" min="" max="" step="" />
              <output>result</output>
            </details>
          </li>
    
        </ul>

        <button type="button">Clear</button>
        <button type="button">Apply</button>

      </section>
    </dialog>

  </div>
  
  <!-- GALLERY ///////////////// -->
  <ol>
    <li>
      <section>
        <h3>Product name</h3>
        <p>
          <s>Original Price</s>
          <span>Sale Price</span>
        </p>
        <ul>
          <li>Product tag (best-seller, on sale, etc)</li>
        </ul>
        <img src="" alt="" />
        <button type="button">Add to cart</button>
      </section>
    </li>
  </ol>

</section>

<!-- PRODUCT PROFILE /////////////////////////////////////// -->
<article>

  <header>
    <h2></h2>

    <!-- NAVIGATION MENU -->
    <div>

      <!-- BREADCRUMBS -->
      <nav>
        <ol>
          <li>
            <a href="" ></a>
          </li>
        </ol>
      </nav>

      <!-- PREV/NEXT -->
      <nav>
        <ol>
          <li>
            <a href="" >
              <img src="./assets/icons/arrows/angle-left.svg" alt="Previous item." />
              Prev |
            </a>
          </li>
          <li>
            <a href="" >
              <img src="./assets/icons/arrows/angle-right.svg" alt="Next item." />
              Next
            </a>
          </li>
        </ol>
      </nav>

    </div>

    <!-- PRICE -->
    <p>
      <s>Original Price</s>
      <span>Sale Price</span>
    </p>

    <!-- QUANTITY -->
    <div>
      <label for="quantity">Quantity</label>
      <input id="quantity" type="number" min="1" name="product-name" /> 
    </div>

    <button type="button">Add to Cart</button>

  </header>

  <!-- IMAGES -->
  <div>
    <!-- Current Image -->
    <figure>
      <img src="" alt="" />
      <figcaption></figcaption>
    </figure>

    <!-- Image List -->
    <ul>
      <li>
        <button type="button">
          <img src="" alt="" />
        </button>
      </li>
    </ul>

  </div>

  <!-- PRODUCT DETAILS ACCORDION -->
  <div>
    <details open>
      <summary>Product Info</summary>
    </details>
    <details>
      <summary>Return and Refund Policy</summary>
    </details>
    <details>
      <summary>Shipping Info</summary>
    </details>
  </div>

  <!-- SOCIAL MEDIA LINK LIST  -->
  <ul>
    <li>
      <a href="">
        <img src="./assets/icons/social-media/facebook.svg" alt="Facebook link." title="Facebook" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/icons/social-media/twitter.svg" alt="Twitter link." title="Twitter" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/icons/social-media/" alt="Instagram link." title="Instagram" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/icons/social-media/youtube.svg" alt="Youtube link." title="Youtube" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/icons/social-media/linked-in.svg" alt="Linked-in link." title="Linked-In" />
      </a>
    </li>
    <li>
      <a href="">
        <img src="./assets/icons/social-media/tik-tok.svg" alt="Tik-Tok link." title="Tik-Tok" />
      </a>
    </li>
  </ul>

</article>

<!-- ITEM OVERVIEW /////////////////////////////////// -->
<dialog>
  <section>
    <h3>Order</h3>
    <ul>
      <li>
        <div>
          <input type="number" min="1" name="product-name" />
          <span>
            <a href="" title="Go to product profile" >Product Name</a>
          </span>
        </div>
        <p>
          <span>Price x</span>
          <output>Number of items</output>
          <span>=</span>
          <output>Price for number</output>
        </p>
        <button type="button">Delete/Remove</button>
      </li>
    </ul>
    <button type="button">Next</button>
  </section>
</dialog>

<!-- USER CONTACT INFO /////////////////////////////////// -->
<dialog>
  <section>
    <h3>Contact Information</h3>
    <div>
      <div>
        <label for="first-name" >First Name *</label>
        <input id="first-name" type="text" name="first-name" required autocomplete="first-name"/>
      </div>
      <div>
        <label for="last-name" >Last Name *</label>
        <input id="last-name" type="text" name="last-name" required autocomplete="last-name" />
      </div>
      <div>
        <label for="phone" >Phone *</label>
        <input id="phone" type="tel" name="phone" required autocomplete="phone" />
      </div>
      <div>
        <label for="email" >Email *</label>
        <input id="email" type="email" name="email" required autocomplete="email" />
      </div>
      <div>
        <label for="street-address" >Street Address *</label>
        <input id="street-address" type="text" name="street-address" required autocomplete="street-address" />
      </div>
      <div>
        <label for="unit-number" >Unit Number</label>
        <input id="unit-number" type="text" name="unit-number" />
      </div>
      <div>
        <label for="city" >City *</label>
        <input id="city" type="text" name="city" required autocomplete="city" />
      </div>
      <div>
        <label for="postal-code" >Postal Code *</label>
        <input id="postal-code" type="text" name="postal-code" maxlength="6" required autocomplete="postal-code" />
      </div>
    </div>
    <button type="button" disabled >Next</button>
  </section>
</dialog>

<!-- PAYMENT METHOD /////////////////////////////////// -->
<dialog>
  <section>

    <h3>Payment Method</h3>

    <div>
      <div>
        <label for="pay-pal" >
          <img src="./assets/icons/payment/paypal.svg" alt="Paypal." />
          <span>Paypal</span>
        </label>
        <input id="pay-pal" type="radio" name="payment-method" value="pay-pal" />
      </div>
      <div>
        <label for="visa" >
          <img src="./assets/icons/payment/visa.svg" alt="Visa." />
          <span>Visa</span>
        </label>
        <input id="visa" type="radio" name="payment-method" value="visa" />
      </div>
      <div>
        <label for="mastercard" >
          <img src="./assets/icons/payment/mastercard.svg" alt="Mastercard." />
          <span>Mastercard</span>
        </label>
        <input id="mastercard" type="radio" name="payment-method" value="mastercard" />
      </div>
      <div>
        <label for="american-express" >
          <img src="./assets/icons/payment/american-express.svg" alt="American Express." />
          <span>American Express</span>
        </label>
        <input id="american-express" type="radio" name="payment-method" value="american-express" />
      </div>
    </div>

    <div>
      <div>
        <label for="card-number">Card Number *</label>
        <input id="card-number" type="number" name="card-number" minlength="16" maxlength="16" required />
      </div>
      <div>
        <label for="expiry-date">Expiration Date *</label>
        <input id="expiry-date" type="date" name="expiry-date" required />
      </div>
      <div>
        <label for="cvc">CVC *</label>
        <input id="cvc" type="number" minlength="3" maxlength="3" name="cvc" required />
      </div>
    </div>

    <button type="button" disabled >Next</button>
  </section>
</dialog>

<!-- SHIPPING DETAILS //////////////////////////////////// -->
<dialog>
  <h3>Shipping Details</h3>

  <section>
    <h4>Ship to:</h4>
    <p>street address</p>
    <p>unit number</p>
    <p>City, Province, Country</p>
    <p>Postal Code</p>
    <button type="button">
      Address wrong? / <br/>
      Ship to different address?
    </button>
  </section>

  <section>
    <h4>Delivery Time</h4>
  </section>

</dialog>

<!-- SHIPPING ADDRESS ///////////////////////////// -->
<dialog>
  <h3>Please Provide an Address to Ship To:</h3>
  <div>
    <div>
      <label for="street-address" >Street Address *</label>
      <input id="street-address" type="text" name="street-address" required />
    </div>
    <div>
      <label for="unit-number" >Unit Number</label>
      <input id="unit-number" type="text" name="unit-number" />
    </div>
    <div>
      <label for="city" >City *</label>
      <input id="city" type="text" name="city" required />
    </div>
    <div>
      <label for="postal-code" >Postal Code *</label>
      <input id="postal-code" type="text" name="postal-code" maxlength="6" required />
    </div>
  </div>
  <button type="button">Submit</button>
</dialog>

<!-- FINAL CHECKOUT //////////////////////////////// -->
<dialog>
  <header>
    <h3>Final Checkout</h3>
    <p>Please review your order before completing checkout.</p>
  </header>

  <section>
    <h4>Order</h4>
    <button type="button">Edit</button>
    <ul>
      <li>
        <p>
          <output>Number of x</output>
          <span>Product Name</span>
        </p>
        <p>
          <span>Price of Product</span>
          <output>Number of</output>
          <output>Total Price by Number of</output>
        </p>
      </li>
    </ul>
    <p>Total price: <output></output></p>
  </section>

  <section>
    <h4>Contact Info</h4>
    <button type="button" >Edit</button>
    <p>First and Last Name</p>
    <p>Email</p>
    <p>Phone</p>
    <p>Address</p>
  </section>

  <section>
    <h4>Payment Method</h4>
    <button type="button" >Edit</button>
    <p></p>
  </section>

  <section>
    <h4>Delivery Details</h4>
    <button type="button" >Edit</button>
    <p>Deliver to:</p>
    <p>Delivery time</p>
  </section>

  <form>
    <button type="submit">Checkout</button>
  </form>

</dialog>